# Types of Collections
# Tuples, Lists, Dictionaries, Set

In [24]:
my_list = ["George", "Jim", "Jimbo"]

print(my_list[0:1])
print(my_list[0:2])

# Easiest way to reverse a list
print(list(reversed(my_list)))
print(my_list)
print(my_list[::-1])

['George']
['George', 'Jim']
['Jimbo', 'Jim', 'George']
['George', 'Jim', 'Jimbo']
['Jimbo', 'Jim', 'George']

In [25]:
# Sets
# Unordered

string1 = "This and this and and this"

my_set = {1, 2, 3, 4, 4} # No duplicated value accepted
print(my_set)
print(set(string1)) # Duplicated characters are removed.

{1, 2, 3, 4}
{'d', 't', 'i', 'a', ' ', 'n', 's', 'T', 'h'}

In [32]:
# List methods

# Append adds to the end of a list
another_list = []

for i in range(10):
    another_list.append(i)

print(another_list)

# Pop takes off the end of a list
x = another_list.pop()
print(another_list, x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8] 9

In [2]:
# List indexing
list3 = [1, 2, 3, 4, 5]
list3[2] = 10

print(list3)

# Remove function
list3.remove(10) # input "value"
print(list3)

# Insert
list3.insert(2, 10) # insert(index, value)
print(list3)

[1, 2, 10, 4, 5]
[1, 2, 4, 5]
[1, 2, 10, 4, 5]

In [42]:
list4 = [6, 7, 8, 9, 11]
print(list3 + list4) # concat both list

[1, 2, 10, 4, 5, 6, 7, 8, 9, 11]

In [51]:
for value in list3:
    print(value)

print("\n==========\n")
for index in range(len(list3)):
    print(index)

print("\n==========\n")
for index, value in enumerate(list3):
    print(f"{index}: {value}")

1
2
10
4
5

==========

0
1
2
3
4

==========

0: 1
1: 2
2: 10
3: 4
4: 5

In [52]:
names = ["Jehyun", "Justin", "Robert"]
 # it will be read from back.
 # run for loop to grab name and make it uppercase, then put it into the list.
cap_names = [name.upper() for name in names]

print(names)
print(cap_names)

['Jehyun', 'Justin', 'Robert']
['JEHYUN', 'JUSTIN', 'ROBERT']

In [56]:
e_names = [name for name in names if 'e' in name ] # it will be read from back.
print(e_names)

['Jehyun', 'Robert']

In [8]:
# Sorting
sort_list = [1, 50, 10, 23, 1, 5]
print(sort_list)
sort_list.sort()
print(sort_list)

sort_list2 = [1, 50, 10, 23, 1, 5]
# Not modify original list
print(sorted(sort_list2))
print(sort_list2)

[1, 50, 10, 23, 1, 5]
[1, 1, 5, 10, 23, 50]
[1, 1, 5, 10, 23, 50]
[1, 50, 10, 23, 1, 5]

In [11]:
# Dictionary
dict1 = {
    "name": "Jehyun",
    "position": "fullstact"
}
print(dict1)

{'name': 'Jehyun', 'position': 'fullstact'}

In [17]:
# Iterating through a dictionary

for k, v in dict1.items():
    print(k, v)

for key in dict1.keys():
    print(key)

for value in dict1.values():
    print(value)

name Jehyun
position fullstact
name
position
Jehyun
fullstact

In [23]:
dict2 = {
    "Person1": {
        "name": "jehyun", 
        "position": "fullstack"
    },
    "Person2": {
        "name": "Justin", 
        "position": "fullstack"
    }
}

for k, v in dict2.items():
    print(k, v)

print(dict2["Person1"]["name"])

print(type(dict2) == dict)

Person1 {'name': 'jehyun', 'position': 'fullstack'}
Person2 {'name': 'Justin', 'position': 'fullstack'}
jehyun
True

In [26]:
# Tuple 
# it is like const, never modify
# Faster than List

my_tuple = ("Justin", "Lee")
print(my_tuple)
print(my_tuple[1])

for i in my_tuple:
    print(i)

# my_tuple[0] = 15 # You can't update specific index.

('Justin', 'Lee')
Lee
Justin
Lee